<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 add_button">


            <input #infile style="color:forestgreen;" type="file"
                   id="file"
                   (change)="handleFileInput($event.target.files)">

            <div class="alert alert-success" [hidden]="nascosto">
                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <span> <b> Va bene. </b> File caricato correttamente.</span>
            </div>

            <div class="alert alert-danger" [hidden]="messaggioerrore">
                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <span> <b> Problema. </b> Questo file non può essere aggiunto.</span>
            </div>
        </div><!-- col-sm-12 -->
    </div><!-- row -->

  <div class="container-fluid">
      <div class="card-deck">
          <div class="card" *ngFor="let vid of foto">
              <img height="200" class="card-img-top" [src]="vid.urlTuttifile" alt="Card image cap">
              <div class="card-feature">
                  <ul class="list-inline list-unstyled" id="list-feature">
                      <li> <i class="material-icons">person</i> author</li>

                  </ul>
              </div><!-- feature -->
              <div class="card-body">
                  <h5 class="card-title">{{vid.idTuttifile}}</h5>

              </div>
              <div class="card-add"  (click)="deletemedia(vid)">
                  <i class="material-icons" style="font-size:2em; color:red;">remove_circle_outline</i>
              </div>
          </div>

      </div><!-- card-deck -->





      <!-- Modal -->
      <div class="modal fade" id="modal-upload" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                      <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Carica immagine</span>
                      </div>
                      <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Scegli il file</label>
                      </div>
                  </div>

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                  </div>
              </div>

          </div>
      </div>



  </div><!-- container-fluid -->
</div><!-- main-content -->





