#gruppisection
{
  padding: 5px 10px 5px 10px;
}

h5.gruppititolo
{
  font-weight: bold;
  text-transform: uppercase;

}

.bar
{
  background-color: rgba(0,172,193, 0.8);
  padding: 20px 40px 20px 40px;
}

.ristoranti
{
  background-color: rgba(0,172,193, 0.7);
  padding: 20px 40px 20px 40px;
}

.fastfood
{
  background-color: rgba(0,172,193, 0.6);
  padding: 20px 40px 20px 40px;
}

.headergruppi
{ width: 100%;
  color:#ffffff;
}

.gruppititolo, .icona
{

  margin-right: 10px;
  float: left;
}

table
{color:#ffffff;}
