
<section id="gruppisection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">


                <table class="table">
                    <thead>
                    <tr class="titoloattivita">
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Indirizzo</th>
                        <th scope="col">Tipo attività</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Nome attività</td>
                        <td>Via Rossini - Rende - CS</td>
                        <td> <i class="material-icons">local_cafe</i></td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Nome attività</td>
                        <td>Via Rossini - Rende - CS</td>
                        <td>  <i class="material-icons">restaurant</i></td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Nome attività</td>
                        <td>Via Rossini - Rende - CS</td>
                        <td><i class="material-icons">fastfood</i></td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- col-sm-12 -->

        </div><!-- row -->
    </div><!-- container-fluid -->

</section>




