
<section id="gruppisection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">


                <table class="table">
                    <thead>
                    <tr class="titoloattivita">
                        <th scope="col">#</th>
                        <th scope="col">Nome dispositivo</th>
                        <th scope="col">Ultima richiesta</th>
                        <th scope="col">Attivato</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let disp of listadispositivi">
                        <th scope="row">{{disp.idDispositivo}}</th>
                        <td>{{disp.nomeDispositivo}}</td>
                        <td>{{disp.ultimaRichiesta}}</td>
            <!--            <td> <i class="material-icons">local_cafe</i></td>  -->
                        <td>{{disp.inAttesa}}</td>

                    </tr>

                    </tbody>
                </table>
            </div><!-- col-sm-12 -->

        </div><!-- row -->
    </div><!-- container-fluid -->

</section>




