<section id="impostazioni_utente">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="header-impostazioni">


                    <h3>  <i class="material-icons">perm_media</i> Media</h3>


                </div><!-- header-impostazioni -->
                <div class="body-impostazioni">
                    <table width="100%">
                        <tr>
                            <td>
                                Impostazione 1
                            </td>
                            <td>
                                <input type="checkbox" checked data-toggle="toggle">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Impostazione 2
                            </td>
                            <td>
                                <input type="checkbox" checked data-toggle="toggle">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Impostazione 3
                            </td>
                            <td>
                                <input type="checkbox" checked data-toggle="toggle">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Impostazione 4
                            </td>
                            <td>
                                <input type="checkbox" checked data-toggle="toggle">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Impostazione 5
                            </td>
                            <td>
                                <input type="checkbox" checked data-toggle="toggle">
                            </td>
                        </tr>
                    </table>
                </div><!-- body-impostazioni -->

            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="header-impostazioni">
                    <h3>  <i class="material-icons"> supervisor_account</i>  Gruppi</h3>
                </div><!-- header-impostazioni -->
                <div class="body-impostazioni">
                    <table width="100%">
                        <tr>
                        <td>
                            Impostazione 1
                        </td>
                        <td>
                            <input type="checkbox" checked data-toggle="toggle">
                        </td>
                        </tr>
                        <tr>
                            <td>
                                Impostazione 2
                            </td>
                            <td>
                                <input type="checkbox" checked data-toggle="toggle">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Impostazione 3
                            </td>
                            <td>
                                <input type="checkbox" checked data-toggle="toggle">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Impostazione 4
                            </td>
                            <td>
                                <input type="checkbox" checked data-toggle="toggle">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Impostazione 5
                            </td>
                            <td>
                                <input type="checkbox" checked data-toggle="toggle">
                            </td>
                        </tr>
                    </table>
                </div><!-- body-impostazioni -->

            </div><!-- col-sm-6 -->

        </div><!-- row -->
    </div><!-- container-fluid -->

</section>




